.App {
    background: white;
    &__header {
        margin: auto;
        padding: 1rem 0;
        background: gold;

        &__logo {
            height: 56px;
            pointer-events: none;
            display: block;
        }

        &__link {
            display: inline-block;
        }

        &__content {
            max-width: 800px;
            margin: auto;
            padding: 0 1em;
        }
    }

    &__subheader {
        background: #f1f1f1;
        margin-bottom: 3rem;

        &__content {
            margin: auto;
            padding: 0 1rem;
            font-size: 0.75rem;
            max-width: 800px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            min-height: 64px;
        }

        &__back {
            position: absolute;
            left: -1rem;
            top: 1.25rem;
            display: block;
            background: white;
            height: 22px;
            width: 22px;
            text-align: center;
            line-height: 1rem;
            border-radius: 40px;
            color: $primary-color !important;
            text-decoration: none;
            font-size: 2rem;
            border: 1px solid;
        }

        &__heading {
            font-size: 1.25rem;
            line-height: 1;
            margin: 0;
        }

        &__meta {
            display: flex;
            align-items: center;
        }

        &__origins {
            margin-right: 1rem;
            padding-right: 1rem;
            border-right: 1px solid #999;
            text-align: right;
        }
    }

    &__main {
        max-width: 800px;
        margin: auto;
        padding: 0 1em;
        min-height: 300px;
    }
}
