.App {
    background: white;
    &__header {
        margin: auto;
        padding: 1rem 0;
        background: gold;

        &__logo {
            height: 56px;
            pointer-events: none;
            display: block;
        }

        &__link {
            display: inline-block;
        }

        &__content {
            max-width: 640px;
            margin: auto;
            padding: 0 1em;
        }
    }

    &__subheader {
        background: #f1f1f1;
        margin-bottom: 3rem;

        &__content {
            margin: auto;
            padding: 0 1rem;
            font-size: 0.75rem;
            max-width: 640px;
            display: flex;
            position: relative;
            min-height: 72px;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            @media (min-width: $small-breakpoint) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__back {
            position: absolute;
            right: 1rem;
            top: 1.5rem;
            display: block;
            background: white;
            height: 22px;
            width: 22px;
            text-align: center;
            line-height: 1rem;
            border-radius: 40px;
            color: $primary-color !important;
            text-decoration: none;
            font-size: 2rem;
            border: 1px solid;
            @media (min-width: $small-breakpoint) {
                left: -1rem;
            }
        }

        &__heading {
            font-size: 1.25rem;
            line-height: 1;
            margin: 0;
        }

        &__meta {
            display: flex;
            align-items: flex-start;
            flex-direction: row-reverse;
            @media (min-width: $small-breakpoint) {
                align-items: center;
                flex-direction: row;
            }
        }

        &__origins {
            margin-left: 0.5rem;
            @media (min-width: $small-breakpoint) {
                margin-right: 1rem;
                padding-right: 1rem;
                border-right: 1px solid #999;
                text-align: right;
            }
        }
    }

    &__main {
        max-width: 640px;
        margin: auto;
        padding: 0 1em;
        min-height: 300px;
    }

    &__footer {
        background: #182137;
        padding: 4rem 1rem 1rem;
        margin-top: 6rem;
        border-top: 1px solid #ccc;
        text-align: center;
        color: whitesmoke;
        font-size: 0.8125rem;

        &__copy {
            margin-bottom: 1rem;
        }

        &__link {
            color: white;
            margin-top: 1rem;
        }
    }
}
