.Exchange {
    &__social {
        padding: 0;
        list-style: disc;
        &__item {
            display: flex;
            margin-bottom: 1rem;
        }

        &__label {
            font-weight: bold;
            width: 100px;
        }
    }
}
