.TrustScore {
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 0 0 0 4px $primary-color;
    color: gold;
    float: left;
    margin: 0 2rem 2rem 0;
}
