button {
    background: #f8f8f8;
    border: 1px solid #333;
    line-height: 1;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    min-width: 24px;
    @media (min-width: 680px) {
        padding: 0.25rem 1rem;
    }
}

button:focus {
    @include input-focus-hover;
}

button[disabled] {
    cursor: default;
}
