.u-text-center {
    text-align: center;
}

.u-sr-only {
    @include visually-hidden;
}

.u-mr {
    margin-right: 0.5rem;
}

.u-show-on-large {
    @media (max-width: 640px) {
        display: none;
    }
}

.u-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    display: block;
    max-width: 80%;
}
