.u-text-center {
    text-align: center;
}

.u-sr-only {
    @include visually-hidden;
}

.u-mr {
    margin-right: 0.5rem;
}

.u-show-on-large {
    @media (max-width: 640px) {
        display: none;
    }
}
